.foto{
	float:left;
	width: 20%;
	margin: 10;
	padding: 0;
}


a{
	
	margin-left: 100px;
	margin-right: -80px;
	font-weight: bolder;

}

iframe{
	width:100%;
	height:80px;
	border:none;
}

.fotohe{
	width: 100%;
}

footer{
	background-color: #F5F5DC;
	
}
header{
	background-color: #F0FFFF;	
	size: 100px;
}